<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="landing">

    <div class="landing-wrapper">

        <!-- LEFT SIDE -->
        <div class="landing-left">

            <h1>Create Account </h1>
            <p>Join Damazon and start your journey today.</p>

            <form method="POST">

                <input type="text" name="username" placeholder="Username" required>

                <input type="password" name="password" placeholder="Password" required>

                <select name="role" required>
                    <option value="" disabled selected>Select Role</option>
                    <option value="buyer">Buyer</option>
                    <option value="seller">Seller</option>
                </select>

                <button type="submit" class="landing-btn btn-primary">Signup</button>

            </form>

            <p style="margin-top:20px;">
                Already have an account?
                <a href="{{ url_for('login') }}">Login</a>
            </p>

        </div>

        <!-- RIGHT SIDE IMAGE -->
        <div class="landing-right">
            <img src="{{ url_for('static', filename='images/farmer.png') }}"
                 class="auth-image">
        </div>

    </div>

</body>
</html>